.impress h1 {
    font-weight: 600;
}

@media (min-width: 768px) {
    .impress h1 {
        font-size: 10rem;
    }
}

.impress .callToAction {
    position: relative;
    padding-left: 1rem;
    padding-right: 3rem;
    height: 2.5rem;
    line-height: 1.75rem;
}

.impress .callToAction:after {
    content: '';
    border-color: inherit;
    position: absolute;
    top: 0.25rem;
    bottom: 0;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-image: url('data:image/svg+xml;charset=utf8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20version%3D"1.1"%20baseProfile%3D"full"%20width%3D"76"%20height%3D"76"%20viewBox%3D"0%200%2076.00%2076.00"%20enable-background%3D"new%200%200%2076.00%2076.00"%20xml%3Aspace%3D"preserve">%0A%09<path%20fill%3D"%23FFFFFF"%20fill-opacity%3D"1"%20stroke-width%3D"0.2"%20stroke-linejoin%3D"round"%20d%3D"M%2019.0002%2C34L%2019.0002%2C42L%2043.7502%2C42L%2033.7502%2C52L%2044.2502%2C52L%2058.2502%2C38L%2044.2502%2C24L%2033.7502%2C24L%2043.7502%2C34L%2019.0002%2C34%20Z%20"%2F>%0A<%2Fsvg>');
    z-index: 1;
    background-size: cover;
}