extends _layout

prepend titleDeterminer
  - var pageTitle = 'Page not found'

append head
  link(rel='stylesheet', href='/css/404.css')
  
append header

block content
  h1.display-2.mt-3 Oh noes!
  h2.lead.col-lg-6.col-md-8 There appears to be nothing here. This page may have moved or no longer exists.