extends _layout

prepend titleDeterminer
  - var pageTitle = 'About Me'
  - var pageDesc = 'Learn more about me and how I started web development.'
  - var pageID = '/about'

append head

block content
  .col-lg-6.col-md-8.m-auto.markdown-large
    :markdown-it(linkify)
      # About Me

      ## Who am I?

      I’m a web developer from Miami, Florida and I have worked on various projects over the past 6 years 
      I have been in the business. I’ve designed numerous websites in the past on platforms such as Enjin and 
      Node.js. Currently all the websites I maintain are written exclusively in JavaScript, as it’s my favorite 
      language.

      ## How did you get started?

      I got started in the world of web development when I was about nine years old. It’s quite a very 
      young age to get into something like this. I spent a lot of my childhood playing around with computers 
      and the F12 Developer Tools in Chrome would soon turn out to change my life. It started when I was 
      only deleting and moving things around on a page, then I wanted to learn what I was doing and even 
      make my own website. One of my earliest projects was a simple notepad I wrote on JSFiddle in 4th 
      grade.

      ## How can I work with you?

      It’s easy. You can choose however you want to contact me. I can be reached through social media 
      (links are in the footer), e-mail, telephone, or even snail mail. Don't fret! I love reading mail.