extends _layout

prepend titleDeterminer
  - var pageTitle = 'Contact Me'
  - var pageDesc = 'Choose your best way of reaching out to me.'
  - var pageID = '/contact'

append head

block content
  .col-lg-6.col-md-8.m-auto.markdown-large
    :markdown-it(linkify)
      # Contact Me
      
      Need a website? Got a project written in JavaScript and need some help? 
      I can help with that.

      Contact me through any of the following ways

      - [E-Mail](mailto:hey@bryan.plus): hey@bryan.plus
      - [Phone](tel:+17863092055): (786) 309-2055
      - Snail Mail: 3381 SW 24th Terrace, Miami, FL 33145
      - [Twitter DMs](https://twitter.com/Bryan_Agredo): @Bryan_Agredo
      - [LinkedIn Mail](https://linkedin.com/in/bryan-agredo): /in/bryan-agredo