extends _layout

prepend titleDeterminer
  - var pageTitle = 'Contact Me'
  - var pageDesc = 'Choose your best way of reaching out to me.'
  - var pageID = '/contact'

append head

block content
  .col-lg-6.col-md-8.markdown-large
    :markdown-it(linkify)
      # Contact Me
      
      Need a website? Got a project written in JavaScript and need some help? 
      I can help with that.

      Contact me through any of the following ways

      - [E-Mail](mailto:hey@bryan.plus): hey@bryan.plus
      - [Twitter](https://twitter.com/Bryan_Agredo): @Bryan_Agredo
      - [Discord](https://discordapp.com/): bryan#3869