extends _layout

prepend titleDeterminer
  - var pageTitle = 'Miami Web Developer'
  - var pageDesc = 'Hi, I\'m Bryan Agredo and I like web development. I\'ve been doing it since I was 9 and I never stopped since. Check out my website!'

append head
  link(rel='stylesheet', href='/css/index.css')
  
append header

block content
  .impress
    h1.display-4.mt-3.text-center Hi, I’m 
      b Bryan.
    h2.col-lg-6.col-md-8.lead.m-auto.text-center Certified web developer, Node.js enthusiast, coffee lover, and open source advocate.
    a.btn.btn-primary.callToAction.mt-3(href='mailto:hey@bryan.plus' role="button") Let's talk