extends _layout

prepend titleDeterminer
  - var pageTitle = 'Portfolio'
  - var pageDesc = 'The Portfolio, now online.'
  - var pageID = '/portfolio'

append head

block content
  .col-lg-6.col-md-8.markdown-large
    :markdown-it(linkify)
      # Portfolio
      
      This list only represents my most current sites I’ve designed or developed. Feel free
      to ask me any questions regarding any of the projects listed.

      ## [One Nation Gaming](http://onenationgaming.com/) &nbsp; `March 2018`

      ![](https://files.bryan.plus/one-nation-gaming.jpg)
      
      ![](https://files.bryan.plus/one-nation-admin.png)

      The aim of this project was to initially redesign the homepage, update the page navigation
      system, and to greatly simplify the editing of the homepage content with an admin panel.
      This was created on the Enjin platform.

      ## [IG:dm](http://igdm.me/) &nbsp; `February 2018`
      
      ![](https://taruka.bryan.plus/igdm.png)

      ![](https://taruka.bryan.plus/igdm-app.png)

      This project ports Instagram direct messages to the desktop. It allows you to view your
      direct messages on the desktop through a neat little app. I led the redesign of both the
      website and the app itself, resulting in the above final screenshots.

      ## [Bryan Agredo](https://bryan.plus/) &nbsp; `February 2018–Current`
      
      ![First Iteration](https://taruka.bryan.plus/bryan-plus.jpg)

      ![New Website](https://taruka.bryan.plus/bryan-plus-new.png)
      
      This is my personal website, the first and second iteration of it. I designed the first with nostalgia 
      in mind. Not only nostalgia, but also maintainability. The first iteration now has a static build 
      system that can generate templates and layouts without having to hard-code as many things 
      as before. The second iteration is the same website, but with theme modifications to make it 
      have a more modern look.

      ## [PrismarineJS](https://prismarinejs.github.io/) &nbsp; `January 2018`
      
      ![](https://taruka.bryan.plus/prismarinejs.jpg)
      
      I volunteered in 2015 to redesign the [PrismarineJS](https://github.com/PrismarineJS) website 
      after seeing how its website then was ineffective and not ideal. In January 2018, I 
      revisited PrismarineJS and decided to give it a modern lick of design. Not only that, but 
      I created a static websites build system that makes the website much more maintainable and 
      allows for much more flexibility.

      ## [AmpTweet](https://amptweet.com/) &nbsp; `August–December 2017`
      
      ![](https://taruka.bryan.plus/amptweet.jpg)

      AmpTweet is a project dedicated to bringing a high standard of Twitter analytics and statistic 
      management tools to the general public for free. It was started as part of an initiative to 
      liberate social media management platforms by introducing an open source alternative. The
      goal is to have a fully-working service that competes with other giants such as CrowdFire and 
      Hootsuite.
