extends _layout

prepend titleDeterminer
  - var pageTitle = 'Portfolio'
  - var pageDesc = 'The Portfolio, now online.'
  - var pageID = '/portfolio'

append head

block content
  .col-lg-6.col-md-8.markdown-large
    :markdown-it(linkify)
      # Portfolio
      
      This list only represents my most current sites I’ve designed or developed. Feel free
      to ask me any questions regarding any of the projects listed.

      ## Bryan Agredo &nbsp; `February 2018–Current`
      
      ![](https://taruka.bryan.plus/bryan-plus.jpg)
      
      This is my personal website, the second iteration of it. I designed it with nostalgia in 
      mind. Not only nostalgia, but also maintainability. The new website now has a static build 
      system that can generate templates and layouts without having to hard-code as many things 
      as before.

      ## PrismarineJS &nbsp; `January 2018`
      
      ![](https://taruka.bryan.plus/prismarinejs.jpg)
      
      I volunteered in 2015 to redesign the [PrismarineJS](https://github.com/PrismarineJS) website 
      after seeing how its website then was ineffective and not ideal. In January 2018, I 
      revisited PrismarineJS and decided to give it a modern lick of design. Not only that, but 
      I created a static websites build system that makes the website much more maintainable and 
      allows for much more flexibility.

      ## AmpTweet &nbsp; `August 2017–Current`
      
      ![](https://taruka.bryan.plus/amptweet.jpg)

      AmpTweet is a project dedicated to bringing a high standard of Twitter analytics and statistic 
      management tools to the general public for free. It was started as part of an initiative to 
      liberate social media management platforms by introducing an open source alternative. The
      goal is to have a fully-working service that competes with other giants such as CrowdFire and 
      Hootsuite.
