extends _layout

prepend titleDeterminer
  - var pageTitle = 'Testimonials'
  - var pageDesc = 'Read what people are saying about me. Get a glimpse into real people\'s testimonials.'
  - var pageID = '/testimonials'

block content
  .col-lg-6.col-md-8.markdown-large
    :markdown-it(linkify)
      # Testimonials

      > ### Incredible!
      >
      > I worked with Bryan to revamp the home page of my website. He was very respectable and good at communicating what he was doing. As soon as Bryan started, I knew he was going to get it done quickly and professionally with the attitude of "can do". Everyone at One Nation Gaming is truly impressed with his work and thankful his help. Bryan is the example of hard work and dedication.
      >
      > — Owner and Head Administrator of [OneNationGaming.com](One Nation Gaming)

      > ### Above and Beyond!
      >
      > Bryan turned my old, unresponsive website, into something awesome for an extremely good price! He added many interactive features, and even added a JSON template so I could easily change parts of the website without needing to edit the HTML!  He added an unbelievable amount of features, and went above and beyond what I asked for. The finished website was responsive, informative, and overall beautiful! Super chill guy and really easy to work with, and also finished the website in 2 days! Unbelievable! 11/10 would order from again.
      >
      > — Owner of [http://galaxymc.cf/](GalaxyMC)